---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
      <h1>The Official Home of CrabLang!</h1>
      <br />
      <p>
        A community fork of a language named after a plant fungus. All of the
        memory-safe features you love, now with 100% less bureaucracy!
      </p>
      <br />
      <h2>License</h2>
      <br />
      <p>
        This project is licensed under the MIT License. More details can be found in the <a href="https://github.com/crablang/crab/blob/main/LICENSE">LICENSE file</a>.
      </p>
      <br />
      <p>
        Please note, third-party packages and tools may be subject to different licenses.
      </p>
    </main>
  </BaseLayout>