---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <h1>The Official Home of CrabLang!</h1>
    <br />
    <p>
      A community fork of a language named after a plant fungus. All of the
      memory-safe features you love, now with 100% less bureaucracy.
    </p>
    <br />
    <h2>Why CrabLang?</h2>
    <br />
    <p>
      The <a href="https://github.com/crablang/crab">Crab</a> (or “CrabLang”) community
      fork was created as a lighthearted yet measured response to the growing concerns
      within the community about the influence of corporations and the restrictive
      trademark policy proposed by the foundation. This was not a "knee-jerk" reaction,
      nor was it an attempt to spread fear or cause panic. While the document the
      foundation drafted <em>did</em> lead to the fork, we believe it is an overdue
      solution to a problem that already existed, and addresses some issues that
      many community members have had for some time.
    </p>
    <br />
    <p>
      First and foremost: CrabLang is not trying to replace our beloved
      language. If you are happy with the way things are, we encourage you to
      continue using your language of choice. Our goal is not to fracture the
      community, but rather to provide an alternative for those who share our
      concerns and wish to have more freedom in using, creating with, and
      promoting the language without worrying about the litigation associated
      with trademark infringement.
    </p>
    <br />
    <p>
      We acknowledge and appreciate the hard work and financial support that
      corporations have provided to the original project. We understand the
      importance of their contributions, but we also believe that it is
      essential to maintain a balance between corporate influence and the will
      of the community. The CrabLang Collective aims to provide a space where
      the community can thrive without the constraints imposed by corporate
      interests.
    </p>
    <br />
    <p>
      We want to emphasize that we are not at odds with the project or the
      original language. We appreciate everything they do to make the language
      better, and our fork's main branch will continue to stay up to date with
      the upstream codebase. Our main goal is to ensure that the community has
      an alternative that aligns with their values and desire for unrestricted
      use.
    </p>
    <br />
    <p>
      The Crab community fork is driven by our love for a language named after a
      type of fungus. We simply want to use it while retaining the ability to
      create content and promote its name, logo, and other assets however we
      please, without the limitations imposed by a trademark policy. By offering
      a community-driven alternative, we hope to maintain a spirit of
      collaboration, innovation, and creative freedom.
    </p>
    <br />
    <p>
      With our shared passion for programming, we welcome anyone interested to
      join us in exploring the Crab community fork. Whether or not you fully
      agree with our concerns, we believe that diversity of thought and a
      commitment to inclusivity will only strengthen our collective efforts.
    </p>
    <br />
    <p>Come on in! The water is warm!</p>
  </main>
</BaseLayout>
