---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>The Official Home of CrabLang!</h1>
			<p>
				A community fork of a language named after a plant fungus.
				All of the memory-safe features you love, now with 100% less bureaucracy!
			</p>
		</main>
		<Footer />
	</body>
</html>
