---
const today = new Date();
import { SITE_TITLE } from "../consts";
---

<footer>
	<hr>
	Colorscheme by <a href="https://rosepinetheme.com">Rosé Pine</a>
	<br>
	{SITE_TITLE} {today.getFullYear()}
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		color: var(--highhigh);
		background-color: var(--base);
		width: 100%;
		margin: 0;
	}
</style>
