---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  {...props}
  class="relative font-medium text-blue-ferris dark:text-ferris before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-blue-ferris dark:before:bg-ferris before:transition hover:before:scale-x-100"
>
  <slot />
</a>
