---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h1>The Official Home of CrabLang!</h1>
</header>
<style>
	header {
		background-color: var(--base);
		width: 100%;
		margin: 0;
		padding: 1rem;
	}
</style>
