---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { ToggleThemeButton } from "./ToggleThemeButton";
---

<header class="mb-[2em]">
  <img
    width="50"
    src="https://user-images.githubusercontent.com/8974888/231858967-7c37bf1e-335b-4f5a-9760-da97be9f54bb.png"
  />
  <h2 class="my-[0.5em]">
    {SITE_TITLE}
  </h2>
  <nav class="flex justify-between">
    <div class="flex flex-row items-center gap-x-3 md:gap-x-5">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="https://community.crablang.org" target="_blank">
        Discord
      </HeaderLink>
      <HeaderLink href="https://twitter.com/crablang" target="_blank">
        Twitter
      </HeaderLink>
      <HeaderLink href="https://github.com/crablang/crablang" target="_blank">
        GitHub
      </HeaderLink>
    </div>
    <ToggleThemeButton client:load />
  </nav>
</header>
