---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h2>
		<!-- <div>
			<img width="50" src="/crab.png">
		</div> -->
		<span>{SITE_TITLE}</span>
	</h2>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
